/* Using Materilize Framework */

p {
  font-size: 0.9em;
  margin: 5px;
}

blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #0B4948;
}

a {
  color: #fff;

  &:hover {
    font-weight: 700;
  }
}

p.year {
  font-weight: bold;
}

.container {
  padding: 2em 0;
}

.masthead {
  padding: 2em 0;
  background-color: #259695;
  
  h1, h2, h3 {
    font-weight: 300;
    text-align: center;
    color: #fff;
    font-size: 3.4em;
  }
  h2 {
    font-weight: 200;
    font-size: 2em;
  }
  h3 {
    margin-top: 1em;  
    font-size: 1em;
    font-weight: 400;
    
  }
}

.timeline {
  position: relative;

  blockquote {
    max-width: 40%;
    font-style: italic;
    font-size: 0.8em;
    position: absolute;
    left: 60%;
    top: calc(50% - 60px);
    
    span {
      font-style: normal;
    }
  }
  .left {
    left: 0;
  }

  .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    
    .timeline-content {
      position: relative;
      width: calc(50% - 50px);
    }
    &:before {
      display: block;
      content: "";
      width: 2px;
      height: calc(50% - 30px);
      position: absolute;
      background: #d2d2d2;
      left: calc(50% - 1px);
      top: 0;
    }
    &:after {
      display: block;
      content: "";
      width: 2px;
      height: calc(50% - 30px);
      position: absolute;
      background: #d2d2d2;
      left: calc(50% - 1px);
      top: calc(50% + 30px);
    }
    &:first-child::before {
      display: none;
    }
    &:last-child::after {
      display: none;
    }
    &:nth-child(even) .timeline-content {
      margin-left: calc(50% + 50px);
    }
    &:nth-child(odd) .timeline-content {
      margin-left: 0;
    }
  }
  .timeline-badge {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #491D03;
    top: calc(50% - 20px);
    right: calc(50% - 20px);
    border-radius: 50%;
    text-align: center;
    cursor: default;

    i {
      font-size: 25px;
      line-height: 40px;
      color: #fff;
    }
  }
}

@media (max-width: 600px) {
  .timeline .timeline-event .timeline-content {
    width: calc(100% - 70px);
  }
  .timeline .timeline-event::before {
    left: 19px;
  }
  .timeline .timeline-event::after {
    left: 19px;
  }
  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-badge {
    left: 0;
  }
}
